.a-cart-container {
  max-width: 1250px; 
  margin-left: 50px;
  margin-right: 50px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}


.a-cart-bars {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 10px 40px 10px 40px;
  padding: 10px 40px 10px 40px;
  border-radius: 5px;
}
.bar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #FF6060;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
}
.bar-item {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}
.a-cart-icon {
  transition: transform 0.3s ease;
}
.a-cart-icon.rotate {
  transform: rotate(180deg);
}
/* Fenêtre flottante transparente */
.icone-content {
  width: 100%;
  background: rgba(246, 246, 246, 0.45); /* Blanc avec opacité */
  color: black; /* Texte noir */
  margin: 4px;
  text-align: left;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Effet de flottaison */
  transition: opacity 0.3s ease, transform 0.3s ease;
  font-size: 18px;
  font-weight: 400;
}


@media screen and (max-width: 768px) {
  .a-cart-bars {
    margin: 0;
    padding: 0;
  }
  .a-cart-container {
    margin-left: 30px;
    margin-right: 30px;
  }
  .icone-content{
    width: 97%;
  }
}