.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  background-color: #FFFFFF;
  max-width: 1250px;
  margin-left: 40px;
  margin-right: 50px;
}

.logo img {
  height: 40px;
}

.nav ul {
  display: flex;
  gap: 57px;
  list-style: none;
  padding: 0;
}

.nav a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
}
.nav a.active{
  text-decoration: underline;
 
}


@media screen and (max-width: 768px) {
  .nav ul{
    font-size: 12px;
    gap: 26px;
  }
  .header {
    margin-left: 12px;
    margin-right: 22px;
  }
}