.fiche-log-content {
  max-width: 1250px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.carousel-container {
  position: relative;
  width: 100%;
  height: 415px;
  border-radius: 25px;
  overflow: hidden;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ffffff;
  background: transparent;
  padding: 10px;
  cursor: pointer;
  border: 0;
}

.carousel-button.left {
  left: 15px;
}

.carousel-button.right {
  right: 15px;
}

.arrow-icon {
  width: 47px;
  height: 79px;
}

.carousel-indicator {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  background: transparent;
  color: white;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .fiche-log-content{
    margin-left: 30px;
    margin-right: 30px;
  }
  .carousel-container {
    height: 250px;
    border-radius: 10px;
  }
  .carousel-image{
    border-radius: 10px;
  }
}


.logement-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logement-title {
  width: 635px;
  height: 77px;
  background: transparent;
  display: flex;
  flex-direction: column;
}

.logement-title h2 {
  color: #FF6060;
  font-size: 24px;
  margin: 0;
}

.logement-title p {
  color: #000000;
  font-size: 18px;
}

.logement-host {
  width: 167px;
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 30px;
}

.host-name {
  color: #FF6060;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  text-align: right;
}

.host-picture {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #C4C4C4;
}

.logement-tags-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

/* Tags */
.tags-container {
  display: flex;
  gap: 10px;
}

.tag {
  background-color: #FF6060;
  color: #FFFFFF;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 19.96px;
  text-align: center;
  width: 115px;
  height: 25px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Rating */
.rating-container {
  display: flex;
  gap: 5px;
}

.star {
  font-size: 20px;
}

.star.active {
  color: #FF6060;
}

.star.inactive {
  color: #E3E3E3;
}
.accordion-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}

.accordion-item {
  width: 50%;
  background-color: #FF6060;
  border-radius: 5px;
  overflow: hidden;
}

.accordion-header {
  width: 100%;
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  cursor: pointer;
}

.dropdown-icon {
  transition: transform 0.3s ease;
}

.dropdown-icon.open {
  transform: rotate(180deg);
}

.accordion-content {
  padding: 15px;
  background-color: white;
  color: #333;
  font-size: 16px;
}

.accordion-content ul {
  list-style: none;
  padding: 0;
}

.accordion-content li {
  margin-bottom: 5px;
}

